
   
  <div class="modal fade" id="eventmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #EB7E4D; color: #fff;">
          <h5 class="modal-title" id="exampleModalLabel">Create an Event </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <form action="{% url 'create-evetn' %}" method="post">
             {% csrf_token %}

                 <input type="text" id="title" name="title" placeholder="Enter Event name" class="form-control form-group" required>
                 <input type="number" id="priority" name="priority" placeholder="Enter priority scale" class="form-control form-group" min="1" max="5"required>
                 <textarea type="text" name="description" placeholder="Enter description" cols="103" rows="5" class="form-control form-group" required></textarea>           
                 <input type="date" name="date" placeholder="Enter Group name" class="form-control form-group" required>
                 <input type="time" name="start_time" placeholder="Enter Group name" class="form-control form-group" required>
                 <input type="time" name="end_time"  class="form-control form-group" required>
             <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Create</button>
             </div>
         </form>
        </div>
      </div>
    </div>
  </div>