{% extends 'layout/base.html' %}


{% block content %}
<div class="jumbotron text-center">
    
    <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#exampleModal" >
        Create group
    </button>
    {% include 'models/creategroup.html' %}

    <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#groupslist">
        Join a group
    </button>

    {% include 'models/groupslist.html' %}
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#joinedgroups">
        Joined groups
    </button>
    
    {% include 'models/joinedgroups.html' %}
   

    {% include 'event/addevent.html' %} 
    
  
   </div>


   <a class="floating-btn" data-toggle="modal" data-target="#eventmodel" style="text-decoration: none;">
    <span class="material-icons">
        add
        </span>
   </a>

<div class="container">
    <div class="flex-date">
        {% if group %}
        <a   href="{% url 'switch-group' group %}?{{ prev}}">   <span class="material-icons">
            arrow_left
            </span></a>

            {% else %}
            <a   href="{% url 'calendar' %}?{{ prev}}"> 
            
                <span class="material-icons">
                    arrow_left
                    </span>
            </a>
            {% endif%}

     
        
        <div>
            <h4>
                
                {{date }}
            </h4>
        </div>
        {% if group %}
        <a   href="{% url 'switch-group' group %}?{{ next}}">   <span class="material-icons">
            arrow_right
            </span>
        </a>
        {% else %}
        <a   href="{% url 'calendar'  %}?{{ next}}">   <span class="material-icons">
            arrow_right
            </span>
        </a>

        {% endif %}

       
 
 
    </div>
  {{calendar}}
</div>


{% endblock content %}