{% extends 'layout/base.html' %}


{% block content %}
<div class="jumbotron text-center">
    
    <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal" >
        Create group
    </button>
    {% include 'models/creategroup.html' %}

    <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#groupslist">
        Join a group
    </button>

    {% include 'models/groupslist.html' %}
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#joinedgroups">
        Joined groups
    </button>

    {% include 'models/joinedgroups.html' %}

    

    

     
    <h2 class="display-4">{{date }}</h2>
	<a class="btn btn-info right mr-2" href="{% url 'calendar' %}?{{ next }} "> Next Month >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendar' %}?{{ prev}}"> << Previous Month </a>
</div>


<div class="container">
    
  {{calendar}}
</div>


{% endblock content %}