{% extends 'layout/base.html' %}


{% block content %}
<div class="jumbotron text-center">
    
    <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal" >
        Create group
    </button>
    {% include 'models/creategroup.html' %}

    <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#groupslist">
        Join a group
    </button>

    {% include 'models/groupslist.html' %}
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#joinedgroups">
        Joined groups
    </button>

    {% include 'models/joinedgroups.html' %}

    

    

     
    <h2 class="display-4">{{date }}</h2>
	<a class="btn btn-info right mr-2" href="{% url 'calendar' %}?{{ next }} "> Next Month >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendar' %}?{{ prev}}"> << Previous Month </a>
</div>


<div class="container">
    
    <div class="row" style="padding:30px;  background-color: #50A3B9;">  
        {% for day in days %}
        <div class="col " style="text-align: center; border-left: 1px solid #fff; ">{{day}}</div>
        {% endfor %}
    </div>
    {% for days in pycl %} 
    <div class="row  ">
        {% for day in days %}
        
        <div class="col rounded-lg " style="width:50px; height: 65px;  background-color: #333; color:#fff; margin:2px; text-align: center;">{{day}}</div>
        
        {% endfor %}
    </div>
    {% endfor %}
    
</div>


{% endblock content %}