{% extends 'layout/base.html' %}


{% block content %}
<div class="jumbotron text-center">
    <ul class="list-group  offset-md-3 col-md-5 ">
        <h5 class="display">Joined groups and credentials </h5>
        
        {% for group in groups %}
            <li class="list-group-item " >

                  
                
             <span class="float-left" style="color: #EB7E4D">
                {{group.name}}
             </span>   
                
             <span class="float-right">
                {{group.code}}
             </span>   
            </li>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock content %}